<ion-header>
  <ion-navbar color="navbar">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      {{ "SEARCH_TITLE" | translate }}
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openSettings()">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item no-lines>
    <ion-searchbar
      [(ngModel)]="searchInput"
      [showCancelButton]="false"
      (ionInput)="onInput($event)"
      (ionCancel)="loadDisciplines()">
    </ion-searchbar>
  </ion-item>

  <ion-item *ngIf="messageSearch.length > 0" no-lines text-wrap>
    <p>{{messageSearch}}</p>
  </ion-item>

  <ion-list>
      <ion-item *ngFor="let discipline of disciplines" color="card-color">

        <ion-label (click)="activitiesCall(discipline.name)">
        <p text-wrap>{{discipline.name}}</p>
        <p text-wrap>{{discipline.description}}</p>
        <ion-badge color="navbar">{{discipline.classroom}}</ion-badge>
        </ion-label>

      </ion-item>
  </ion-list>

</ion-content>
