page-home {

}

.image_position{
  width: 150px;
  height: 100px;
  margin: auto;
}

.no-scroll .scroll-content{
     overflow: hidden;
}

.button_footer{
  background-color: transparent;
  width: 49.5%;
  height: 50px;
  display: inline;
  margin: auto;
}

.button_social_network{
  width: 48%;
  height: 50px;
  border-style: solid;
  border-width: 3px;
  border-radius: 5px;
  background-color: transparent;
}
